* {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* Layout */
header, main, footer {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

/* Header */
.header_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    width: 20%;
    margin: auto;
}

.navigation {
    width: 55%;
    margin: auto;
}

.langbutton {
    width: 10%;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.menubutton {
    width: 80px;
    list-style: none;
}

/* Main */

/* Footer */
footer {
    text-align: center;
}