.header_inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 20%;
    height: 50px;
    margin: auto;
    border: 1px solid black;
}

.navigation {
    width: 80%;
    height: 50px;
    margin: auto;
    border: 1px solid black;
}

.menu {
    width: 40%;
    float: right;
    border: 1px solid black;
}

.menubutton {
    width: 100px;
    float: left;
    list-style: none;
}