/* body {
  background-color: #f9fafb;
} */

.App {
  width: 50%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
}

/* Layout */
.header, .body, .footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.body {
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

/* Header */
header .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

header .menu li {
  display: inline;
}

header .menu li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

header .menu li a.active {
  font-weight: bold;
}
